language: rust
before_install:
  - rustup target add x86_64-unknown-linux-musl
  - rustup target add i686-unknown-linux-musl
  - rustup target add x86_64-apple-darwin

addons:
  apt:
    packages:
      musl-tools
      xz-utils

matrix:
  include:
    - os: linux 
      rust: stable
      env: TARGET=x86_64-unknown-linux-musl
 
    - os: linux
      rust: stable
      env: TARGET=i686-unknown-linux-musl

    - os: osx 
      rust: stable
      env: TARGET=x86_64-apple-darwin


script: cargo test --target "$TARGET" --target-dir=/tmp/heca

before_deploy: ./ci/before_deploy.sh

deploy:
  skip_cleanup: true
  file:
    - "/tmp/heca-staging/heca-${TRAVIS_TAG}-${TARGET}"
    - "/tmp/heca-staging/heca-${TRAVIS_TAG}-${TARGET}.xz"
  provider: releases
  edge: true
  draft: false
  on:
    tags: true
